# Игнорируем виртуальное окружение
venv/
.venv/
.env

# Игнорируем кеши Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем логи и временные файлы
*.log
*.sqlite3

# Игнорируем папки IDE и редакторов
.idea/
.vscode/

# Игнорируем статические файлы и миграции (по желанию)
staticfiles/
media/
migrations/
